{% extends "bootstrap_base.html" %}
{% load i18n static %}

{% block navbar-links %}

<div class="collapse navbar-collapse" id="navbarTop">
  <ul class="navbar-nav ms-auto">
      <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Page</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAdmin">
            <li><a class="dropdown-item" href="#">
                Item</a></li>
            <li><a class="dropdown-item" href="#">
                Item</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Item</a></li>
          </ul>
        </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbar-options" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Options
          </a>
          <ul class="dropdown-menu  dropdown-menu-end" aria-labelledby="navbar-options">
              <li >
                  <a class="dropdown-item" href="{% url 'password_change' %}">Password</a>
              </li>
              <li><hr class="dropdown-divider"></li>

              <li >
                <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                  <button type="submit" class="dropdown-item">Logout</button>
                </form>
              </li>
          </ul>
      </li>
  </ul>
</div>


{% endblock %}



{% block sidebar %}

<nav id="sidebar">
   <div class="text-center">
          <div class="mb-4">
              <img id="logo" class="rounded mt-4"
                  src="{% static 'img/cc-logo.svg' %}" alt="">
          </div>
          <h3>Sidebar header</h3>
          <p>{{ user.last_name|default:"Last Name" }}, {{ user.first_name|default:"First name" }}
              <br />
          &lt;{{user.username|default:"anonuser"}}&gt;</p>
    </div>
  <hr />
  <ul class="list-unstyled components">
    <li class="{{sidebar_active.home}}">
      <a href="{%url 'home' %}">Home</a>
    </li>
    <li>
        <a href="#exampleSubmenu" data-bs-toggle="collapse" aria-expanded="false"
           role="button" class="dropdown-toggle">Examples</a>
        <ul id="exampleSubmenu" class="list-unstyled  {{sidebar_active.examples|default:"collapse"}}">
            <li class="{{sidebar_active.popovers}}">
                <a href="{%url 'popovers'%}">Popovers</a>
            </li>
            <li class="{{sidebar_active.forms}}">
                <a href="{%url 'forms'%}">Forms</a>
            </li>
            <li class="{{sidebar_active.errors}}">
                <a href="{%url 'errors'%}">Error pages</a>
            </li>
        </ul>

    </li>
    <li >
      <a href="{%url 'base' %}" target="_blank">Base empty</a>
    </li>

  <li class="{{sidebar_active.about}}">
      <a href="{%url 'about'%}">About</a>
  </li>
  </ul>

  {% if user.is_authenticated %}
    <ul class="list-unstyled" >
      <li>
          <form action="{% url 'logout' %}" method="post">{% csrf_token %}
            <button class="btn btn-sidebar" type="submit">Logout</button>
          </form>
      </li>

    </ul>
  {% endif %}
</nav>
{% endblock %}


